// Define variables for your color scheme

// bootstrap
$red: #A94442;
$yellow: #FDB631;
$orange: #E67E22;
$white: #FFFFFC;

// shades
$gray: rgb(155, 155, 155);
$light-gray: #F4F4F4;

// blues
$dark-blue: #203F54;
$blue: #508EBF;
$light-blue: #CCDBEA;
$white-blue: #F7F7F6;

$facebook-blue: #3b5998;
$facebook-dark-blue: #2f4779;


// greens
$green: #1B3022;
$dark-green: #0A2012;
